# Python cache
__pycache__

# Python virtual env
venv

# MacOS filesystem index
*.DS_Store

# All local files
local/

# Temporary test files
tests/tmp

# Local pytest configuration
pytest.ini

# Local VSCode config
.vscode

